#top-page{
	background-color: black;
	color: white;
}
#top-page h1{
	padding-top: 10px;
	
	font-size: 15px;
	text-align: left;
}
#top-page p{
	font-size: 11px;
	color: #666;
}
.abc{
	font-size: 4em;
}
#gocphai{
	color: rgba(0, 0, 0, 0.5);
}
.a{
	font-size: 2.5em;
}
.star{
	color: #e8a242;
}
#aaaaa{
	color: #d65d62;
}
#A123A{
	color: #909090;
}
#the: {

}